---
permissions:
  contents: read
name: Lint
on: pull_request

jobs:
  dockerfile:
    name: dockerfile
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Run hadolint
        uses: hadolint/hadolint-action@v3.3.0
        with:
          trusted-registries: docker.io

  markdownlint:
    name: markdown
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Run markdownlint
        uses: DavidAnson/markdownlint-cli2-action@v22

  actionlint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: reviewdog/action-actionlint@v1

  yamllint:
    name: Yamllint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Run Yamllint
        uses: frenck/action-yamllint@v1.5.0
        with:
          strict: true

  golangci:
    name: go
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - run: go version
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          only-new-issues: true
